<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                         http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <activeProfiles>
      <activeProfile>mulesoft</activeProfile>
   </activeProfiles>
   <profiles>
      <profile>
         <id>mulesoft</id>
         <repositories>
            <repository>
               <id>anypoint-exchange-v3</id>
               <name>Assets for your anypoint organization</name>
               <url>https://maven.anypoint.mulesoft.com/api/v3/maven/</url>
            </repository>
            <repository>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
               <id>central</id>
               <name>maven-central</name>
               <url>https://repo1.maven.org/maven2/</url>
            </repository>
            <repository>
               <id>mulesoft-releases</id>
               <name>mulesoft-releases</name>
               <url>https://repository-master.mulesoft.org/releases/</url>
            </repository>
            <repository>
               <id>mulesoft-snapshots</id>
               <name>MuleSoft Snapshot Repository</name>
               <url>https://repository-master.mulesoft.org/snapshots/</url>
            </repository>
            <repository>
               <id>mulesoft-enterprise-repository</id>
               <name>MuleSoft Enterprise Repository</name>
               <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>mulesoft-plugins</id>
               <name>Mulesoft plugins-release</name>
               <url>https://repository.mulesoft.org/nexus/content/repositories/public/</url>
            </pluginRepository>
            <pluginRepository>
               <id>central-plugins</id>
               <name>plugins-release</name>
               <url>https://repo1.maven.org/maven2</url>
            </pluginRepository>
            <pluginRepository>
               <id>mulesoft-snapshots</id>
               <name>MuleSoft Snapshot Repository</name>
               <url>https://repository-master.mulesoft.org/snapshots/</url>
            </pluginRepository>
            <pluginRepository>
               <id>mulesoft-plugins-release</id>
               <name>Mulesoft plugins-release</name>
               <url>https://repository.mulesoft.org/releases/</url>
               <snapshots>
                  <enabled>false</enabled>
                  <updatePolicy>always</updatePolicy>
                  <checksumPolicy>fail</checksumPolicy>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <servers>
      <server>
         <id>anypoint-exchange-v3</id>
         <username>~~~Client~~~</username>
         <password>$cicd_connectedapp_clientid~?~$cicd_connectedapp_secret</password>
      </server>
      <server>
         <id>mulesoft-enterprise-repository</id>
         <username>$mulesoft_nexus_ee_user</username>
         <password>$mulesoft_nexus_ee_password</password>
      </server>
   </servers>
   <mirrors />
   <pluginGroups />
   <proxies />
</settings>