name: Mulesoft
on:
  workflow_call:
    inputs:
      keyvault-key:
        required: true
        description: Access key to KeyVault
        type: string
    secrets:
      azure-credentials:
        required: true
        description: Azure Credentials for login
      configurations-token:
        required: true
        description: Access token to get the configuration for the service
env:
  initialsecretconfiguration: ""
  configurationmap: "" 
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      #For testing dynamic content
      MavenCompile: mvn compile

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - name: Get the source code
        uses: actions/checkout@v3

      - name: Get secrets for the pipeline
        uses: dmitriybobrovskiy/get-azure-keyvault-secrets@v1.2.0
        with:
          keyvault: '${{ inputs.keyvault-key }}' # The name of KeyVault in Azure
          secrets: |
            configuration_access_token=configuration-access-token
            mulesoft_nexus_ee_password=mulesoft-nexus-ee-password
            mulesoft_nexus_ee_user=mulesoft-nexus-ee-user
            cicd_connectedapp_clientid=cicd-connectedapp-clientid
            cicd_connectedapp_secret=cicd-connectedapp-secret
          login_credentials: ${{ secrets.azure-credentials }}
      
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
                  
      - name: Setup JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          #check-latest: true
          cache: 'maven'

      # Creates a settings.xml file and configure the anypoint repositories for the organization and the mulesoft EE
      - name: Maven settings.xml
        uses: whelk-io/maven-settings-xml-action@v21
        with:
          servers: >
            [
              {
                "id": "anypoint-exchange-v3",
                "username": "~~~Client~~~",
                "password": "$cicd_connectedapp_clientid }}~?~$cicd_connectedapp_secret" 
              },
              {
                "id": "mulesoft-enterprise-repository",
                "username": "$mulesoft_nexus_ee_user",
                "password": "$mulesoft_nexus_ee_password" 
              }
            ]
          repositories: >
            [
              {
                "id": "anypoint-exchange-v3",
                "name": "Assets for your anypoint organization",
                "url": "https://maven.anypoint.mulesoft.com/api/v3/maven/"
              },
              {
                "id": "mulesoft-releases",
                "name": "mulesoft-releases",
                "url": "https://repository-master.mulesoft.org/releases/"
              },
              {
                "id": "mulesoft-snapshots",
                "name": "MuleSoft Snapshot Repository",
                "url": "https://repository-master.mulesoft.org/snapshots/"
              },
              {
                "id": "mulesoft-enterprise-repository",
                "name": "MuleSoft Enterprise Repository",
                "url": "https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/"
              }
            ]
          plugin_repositories: >
            [
              {
                "id": "mulesoft-plugins",
                "name": "Mulesoft plugins-release",
                "url": "https://repository.mulesoft.org/nexus/content/repositories/public/"
              },
              {
                "id": "central-plugins",
                "name": "plugins-release",
                "url": "https://repo1.maven.org/maven2"
              },
              {
                "id": "mulesoft-snapshots",
                "name": "MuleSoft Snapshot Repository",
                "url": "https://repository-master.mulesoft.org/snapshots/"
              },
              {
                "id": "mulesoft-plugins-release",
                "name": "Mulesoft plugins-release",
                "url": "https://repository.mulesoft.org/releases/",
                "snapshots": {
                  "enabled": "false",
                  "updatePolicy": "always",
                  "checksumPolicy": "fail"
                }
              }              
            ]
        
      - name: DEBUG - Show settings file
        run: |
          ls -la $HOME
          cat $HOME/.m2/settings.xml
          echo ${{ github.run_number }}

      - name: Copy Anypoint Exchange documentation
        run: |
          cp -Rfpv README.md exchange-docs/home.md
          cp -Rfpv docs/*.* exchange-docs/docs/*.* 

      - name: Compile code
        # I am using an environment variable just for testing dinamic content execution
        run: $MavenCompile

      - name: Run test cases and package
        run: |
          ## Get the git commit hash 
          commitHash=$(git rev-parse --short "$GITHUB_SHA")

          mvn package -DskipTests \
           -Dsalesforce.principal="$salesforce_principal" \
           -Dsalesforce.consumerkey="$salesforce_consumerkey" \
           -Dsalesforce.keystore="$salesforce_keystore" \
           -Dsalesforce.storepassword="$salesforce_storepassword"

      - name: Deploy to anypoint exchange
        if: ${{ false }}    
        run: |
          ## Deploy to anypoint exchange
          mvn deploy -DskipTests 

      - name: Publish - MUnit Application Coverage Report
        if: ${{ false }}
        uses: actions/upload-artifact@master
        with:
          name: munit-application-coverage-report
          path: target/site/munit/coverage/*
      
      - name: Publish - MUnit Report
        if: ${{ false }}    
        uses: actions/upload-artifact@master
        with:
          name: munit-test-report
          path: target/surefire-reports/*

      - name: Publish - JAR 
        uses: actions/upload-artifact@master
        with:
          name: jar
          path: target/*.jar

      - name: Publish - POM 
        uses: actions/upload-artifact@master
        with:
          name: pom
          path: pom.xml
















  deploy-dev:
    name: Development
    needs: [build]
    runs-on: ubuntu-latest

    environment:
      name: dev
      url: 'https://dev.myapp.com'
    steps:

      - name: Get secrets for the pipeline
        uses: dmitriybobrovskiy/get-azure-keyvault-secrets@v1.2.0
        with:
          keyvault: '${{ inputs.keyvault-key }}' # The name of KeyVault in Azure
          secrets: |
            configuration_access_token=configuration-access-token
            mulesoft_nexus_ee_password=mulesoft-nexus-ee-password
            mulesoft_nexus_ee_user=mulesoft-nexus-ee-user
            cicd_connectedapp_clientid=cicd-connectedapp-clientid
            cicd_connectedapp_secret=cicd-connectedapp-secret
          login_credentials: ${{ secrets.azure-credentials }}

      - name: Get the mapping for the secrets 
        run: |
          #Configure environment variables
          echo "configuration_access_token: $configuration_access_token"

          # Get the secrets mapping
          secretsmappingfile="secrets-mapping.txt"
          urlconfigurationfile="https://raw.githubusercontent.com/jpontdia/mule-configurations/main/$secretsmappingfile"
          echo "Getting the secrets mapping file: $urlconfigurationfile"
          initialsecretconfiguration=$(curl -sH "Authorization: token $configuration_access_token" $urlconfigurationfile)

          temporal=""
          echo "$initialsecretconfiguration" | while read p; do
            if [[ "$p" =~ ^#.*  ]]; then
              echo "  A comment was found"
            else
              temporal=$(echo "$temporal $p")
              echo "  Variable found: $p"
            fi
            echo "$temporal" > configurationmap.txt
          done 

          echo ""
          export mytest="This is a test"
          configurationmap=$(cat configurationmap.txt)
          echo "configurationmap: $configurationmap"
          echo "initialsecretconfiguration: $initialsecretconfiguration"

      - name: Get Azure KeyVault secrets
        uses: dmitriybobrovskiy/get-azure-keyvault-secrets@v1.2.0
        with:
          keyvault: '${{ inputs.keyvault-key }}' # The name of KeyVault in Azure
          secrets_file_path: configurationmap.txt

      - name: Get configuration for the service 
        run: |
          echo "mytest=$mytest"
          echo "configurationmap: $configurationmap"
          echo "initialsecretconfiguration: $initialsecretconfiguration"
          echo "SALESFORCE_STOREPASSWORD = $SALESFORCE_STOREPASSWORD"
          echo "$SALESFORCE_STOREPASSWORD" | sed 's/./& /g'
          echo "configuration_access_token:"
          echo "$configuration_access_token" | sed 's/./& /g'
          echo "anypoint_environment_clientid = $anypoint_environment_clientid"
          echo "$anypoint_environment_clientid" | sed 's/./& /g'

          #POM and JAR file must be in the root directory
          echo "Getting the service metadata from pom file for deployment"
          service=$(sed -n 's:.*<name>\(.*\)</name>.*:\1:p' pom.xml | sed -n 1p)
          servicegroup=$(sed -n 's:.*<groupId>\(.*\)</groupId>.*:\1:p' pom.xml | sed -n 2p)
          serviceartifact=$(sed -n 's:.*<artifactId>\(.*\)</artifactId>.*:\1:p' pom.xml | sed -n 2p)
          serviceversion=$(sed -n 's:.*<version>\(.*\)</version>.*:\1:p' pom.xml | sed -n 2p)
          
          # Get the jar file
          jar=$(ls *.jar)
          echo "Jar file: $jar"

          # Show variables for the script
          echo "Service name: $service"
          echo "Service group: $servicegroup"
          echo "Service artifact: $serviceartifact"
          echo "Service version: $serviceversion"
          envsuffix="-dev"
          deploymentname=$(echo "$service$envsuffix")
          echo "Deployment name: $deploymentname"
          echo "Jar file: $jar"

          # yaml pareser version
          yq --version

          # Get the configuration file for the service
          configurationfile=$(echo "$deploymentname.yml")
          urlconfigurationfile="https://raw.githubusercontent.com/jpontdia/mule-configurations/main/$configurationfile"
          echo "Getting the configuration file: $urlconfigurationfile"
          configurationdata=$(curl -sH "Authorization: token $configuration_access_token" $urlconfigurationfile)
          echo "Get cloud configuration.."
          confcloudhub=$(echo "$configurationdata" | yq -r ".cloudhub")
          echo "   $confcloudhub"
          echo "Get properties.."
          confproperties=$(echo "$configurationdata" | yq -r ".properties")
          echo "   $confproperties"

          # Replace environment variables
          export deploymentname
          echo ""
          echo "Properties with variables substitution"
          confproperties=$(echo $confproperties | envsubst)
          echo "   $confproperties"
