name: Mulesoft
on:
  workflow_call:
    inputs:
      keyvault-key:
        required: true
        description: Access key to KeyVault
        type: string
    secrets:
      azure-credentials:
        required: true
        description: Azure Credentials for login
      configurations-token:
        required: true
        description: Access token to get the configuration for the service
env:
  initialsecretconfiguration: ""
  configurationmap: "" 
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      #For testing dynamic content
      MavenCompile: mvn compile

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so the job can access it
      - name: Get the source code
        uses: actions/checkout@v3

      - name: Get secrets
        uses: jpontdia/devops-pipelines/packages/get-secrets@main
        with:
          keyvault-key: jpworks-keyvault
          azure-credentials: ${{ secrets.azure-credentials }}

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
                  
      - name: Setup JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          #check-latest: true
          cache: 'maven'

      # Creates a settings.xml file and configure the anypoint repositories for the organization and the mulesoft EE
      - name: Maven settings.xml
        uses: whelk-io/maven-settings-xml-action@v21
        with:
          servers: >
            [
              {
                "id": "anypoint-exchange-v3",
                "username": "~~~Client~~~",
                "password": "$cicd_connectedapp_clientid }}~?~$cicd_connectedapp_secret" 
              },
              {
                "id": "mulesoft-enterprise-repository",
                "username": "$mulesoft_nexus_ee_user",
                "password": "$mulesoft_nexus_ee_password" 
              }
            ]
          repositories: >
            [
              {
                "id": "anypoint-exchange-v3",
                "name": "Assets for your anypoint organization",
                "url": "https://maven.anypoint.mulesoft.com/api/v3/maven/"
              },
              {
                "id": "mulesoft-releases",
                "name": "mulesoft-releases",
                "url": "https://repository-master.mulesoft.org/releases/"
              },
              {
                "id": "mulesoft-snapshots",
                "name": "MuleSoft Snapshot Repository",
                "url": "https://repository-master.mulesoft.org/snapshots/"
              },
              {
                "id": "mulesoft-enterprise-repository",
                "name": "MuleSoft Enterprise Repository",
                "url": "https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/"
              }
            ]
          plugin_repositories: >
            [
              {
                "id": "mulesoft-plugins",
                "name": "Mulesoft plugins-release",
                "url": "https://repository.mulesoft.org/nexus/content/repositories/public/"
              },
              {
                "id": "central-plugins",
                "name": "plugins-release",
                "url": "https://repo1.maven.org/maven2"
              },
              {
                "id": "mulesoft-snapshots",
                "name": "MuleSoft Snapshot Repository",
                "url": "https://repository-master.mulesoft.org/snapshots/"
              },
              {
                "id": "mulesoft-plugins-release",
                "name": "Mulesoft plugins-release",
                "url": "https://repository.mulesoft.org/releases/",
                "snapshots": {
                  "enabled": "false",
                  "updatePolicy": "always",
                  "checksumPolicy": "fail"
                }
              }              
            ]
        
      - name: DEBUG - Show settings file
        run: |
          ls -la $HOME
          cat $HOME/.m2/settings.xml
          echo ${{ github.run_number }}

      - name: Copy Anypoint Exchange documentation
        run: |
          cp -Rfpv README.md exchange-docs/home.md
          cp -Rfpv docs/*.* exchange-docs/docs/*.* 

      - id: configuration-tests
        name: Get configuration file
        uses: jpontdia/devops-pipelines/packages/configuration-file@main
        with:
          configuration-access-token: $configuration_access_token
          yaml-path: ".test-properties"
          prefix: ""
          suffix: ""
      
      - name: Compile code
        # I am using an environment variable just for testing dinamic content execution
        run: $MavenCompile

      - name: Run test cases and package
        run: |
          ## Get the git commit hash 
          commitHash=$(git rev-parse --short "$GITHUB_SHA")

          echo "Test properties: ${{ steps.configuration-tests.outputs.configuration-data }}"
          mvn package -DskipTests ${{ steps.configuration-tests.outputs.configuration-data }}

      - name: Deploy to anypoint exchange
        if: ${{ false }}    
        run: |
          ## Deploy to anypoint exchange
          mvn deploy -DskipTests 

      - name: Publish - MUnit Application Coverage Report
        if: ${{ false }}
        uses: actions/upload-artifact@master
        with:
          name: munit-application-coverage-report
          path: target/site/munit/coverage/*
      
      - name: Publish - MUnit Report
        if: ${{ false }}    
        uses: actions/upload-artifact@master
        with:
          name: munit-test-report
          path: target/surefire-reports/*

      - name: Publish - JAR 
        uses: actions/upload-artifact@master
        with:
          name: jar
          path: target/*.jar

      - name: Publish - POM 
        uses: actions/upload-artifact@master
        with:
          name: pom
          path: pom.xml
















  deploy-dev:
    name: Development
    needs: [build]
    runs-on: ubuntu-latest

    environment:
      name: dev
      url: 'https://dev.myapp.com'
    steps:
      - name: Get JAR file
        uses: actions/download-artifact@v2
        with:
          name: jar

      - name: Get POM file
        uses: actions/download-artifact@v2
        with:
          name: pom

      - name: Get secrets
        uses: jpontdia/devops-pipelines/packages/get-secrets@main
        with:
          keyvault-key: jpworks-keyvault
          azure-credentials: ${{ secrets.azure-credentials }}

      - name: Install NodeJs
        uses: actions/setup-node@v3
        with:
          node-version: 18
  
      - name: Install Anypoint CLI
        run: |
          echo "Install anypoint-cli-v4..."
          npm install -g anypoint-cli-v4
          echo ""
          echo "anypoint-cli-v4 --version: "
          anypoint-cli-v4 --version
          echo ""
          echo "Installing cloudhub-plugin"
          anypoint-cli-v4 plugins:install anypoint-cli-cloudhub-plugin

      - name: Get configuration for the service 
        run: |

          # Get the pom configurtion
          echo "Getting the service metadata from POM file"
          service=$(sed -n 's:.*<name>\(.*\)</name>.*:\1:p' pom.xml | sed -n 1p)
          servicegroup=$(sed -n 's:.*<groupId>\(.*\)</groupId>.*:\1:p' pom.xml | sed -n 2p)
          serviceartifact=$(sed -n 's:.*<artifactId>\(.*\)</artifactId>.*:\1:p' pom.xml | sed -n 2p)
          serviceversion=$(sed -n 's:.*<version>\(.*\)</version>.*:\1:p' pom.xml | sed -n 2p)
          
          # Get the jar file
          jar=$(ls *.jar)
          echo "Jar file: $jar"

          # Show variables for the script
          echo "Service name: $service"
          echo "Service group: $servicegroup"
          echo "Service artifact: $serviceartifact"
          echo "Service version: $serviceversion"
          envsuffix="-dev"
          deploymentname=$(echo "$service$envsuffix")
          echo "Deployment name: $deploymentname"
          echo "Jar file: $jar"
          echo ""

          # Get the configuration file for the service
          configurationfile=$(echo "$deploymentname.yml")
          urlconfigurationfile="https://raw.githubusercontent.com/jpontdia/mule-configurations/main/$configurationfile"
          echo "Getting the configuration file: $urlconfigurationfile"
          configurationdata=$(curl -sH "Authorization: token $configuration_access_token" $urlconfigurationfile)
          
          # Parse the configuration
          echo "Get cloud configuration.."
          confcloudhub=$(echo "$configurationdata" | yq -r ".cloudhub")
          echo "   $confcloudhub"
          echo "Get properties.."
          confproperties=$(echo "$configurationdata" | yq -r ".properties")

          # Replace environment variables
          export deploymentname
          echo "Properties with variable substitution"
          confproperties=$(echo $confproperties | envsubst)
          echo "   $confproperties"
          echo ""

          start=$(date +%s)
          echo "Deployment process start"

          # Get the current status of the service
          echo "Getting the status for the service"
          STATUS=$(\
            anypoint-cli-v4 runtime-mgr cloudhub-application describe \
            --client_id $cicd_connectedapp_clientid \
            --client_secret $cicd_connectedapp_secret \
            --output "json" $deploymentname | jq -r ".status")
          echo "Deployment status for service: $deploymentname is: $STATUS"

          # Verify if deployment is for update or new application
          operation="deploy"

          if [ "$STATUS" = "DEPLOYING" ]; then
            echo "The service was already in DEPLOYING state, wait until deployment finish or delete it"
            exit 1 # terminate and indicate error 
          else
            if [ "$STATUS" != "" ]; then
              operation="modify"
            fi
          fi

          # Execute deployment of the service
          echo ""
          echo "Deployment operation for serivce: $deploymentname is: $operation"
          end=$(date +%s)
          echo "  Elapsed time: $(($end-$start)) seconds"
          echo "Deploying...."
          command="anypoint-cli-v4 runtime-mgr cloudhub-application $operation \
          --client_id $cicd_connectedapp_clientid \
          --client_secret $cicd_connectedapp_secret "
          command="$command $confcloudhub $confproperties --output json $deploymentname $jar"
          echo "deployment command: $command"
          $command
          end=$(date +%s)
          echo ""
          echo "Deployment finished, verifying the deployment...."
          echo "  Elapsed time: $(($end-$start)) seconds" 

          # Process to verify if the service was deployed correctly
          iteration=1
          limit=60
          while true
          do 
            sleep 5

            # Get the current status of the service 
            DEPLOYMENT_INFO=$(\
              anypoint-cli-v4 runtime-mgr cloudhub-application describe \
              --client_id $cicd_connectedapp_clientid \
              --client_secret $cicd_connectedapp_secret \
              --output "json" $deploymentname)
            STATUS=$(echo $DEPLOYMENT_INFO | jq -r ".status")
            UPDATE_STATUS=$(echo $DEPLOYMENT_INFO | jq -r ".deploymentUpdateStatus")  
            echo "Service: $deploymentname status: $STATUS, updateStatus: $UPDATE_STATUS"
            end=$(date +%s)
            echo "  Elapsed time: $(($end-$start)) seconds, iteration: $iteration limit: $limit"

            if [ "$operation" = "deploy" ]; then 
                # Create service

                if [ "$STATUS" = "STARTED" ] || [ $iteration -eq $limit ]; then
                  break # Abandon the while loop.
                fi
            else
                # Update service
                if [ "$UPDATE_STATUS" = "null" ] || [ "$UPDATE_STATUS" = "DEPLOY_FAILED" ] || [ $iteration -eq $limit ]; then
                  break # Abandon the while loop.
                fi
            fi

            iteration=$(( $iteration + 1 ))
          done

          # Verify if service was successfully deployed 
          if [ "$operation" = "deploy" ]; then

            # Create new service
            if [ "$STATUS" != "STARTED" ]; then
              echo "Error: The service was not deployed in the expected time, review logs"
              echo "  example: anypoint-cli-v4 runtime-mgr cloudhub-application download-logs {APP-NAME}"
              echo "The expected iterations were 44 but the proccess reached the limit: $limit"

              exit 1 # terminate and indicate error 
            else 
              echo "Deployment successful.."
            fi
          else
            # Update service
            if [ "$UPDATE_STATUS" = "DEPLOY_FAILED" ]; then
              echo "Error: There were errors while deploying the service"
              exit 1 # terminate and indicate error
            elif [ $iteration -eq $limit ]; then
              echo "Error: The service was not deployed in the expected time, review logs"
              echo "  example: anypoint-cli-v4 runtime-mgr cloudhub-application download-logs {APP-NAME}"
              echo "The expected iterations were 44 but the proccess reached the limit: $limit"

              exit 1 # terminate and indicate error
            else
              echo "Deployment successful.."
            fi
          fi